.navbar{
    position: fixed;
    display:flex;
    font-size: 20px;
  
    font-style: italic;
    resize: auto;
    
    flex-direction: row;
    
    background-repeat: no-repeat;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;   
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: cyan;
} 

#wellcome{
 
    
        color: white;
        padding: 1em 1.5em;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
      }
      
      a:hover {
        background-color: #555;
      }
      
      a:active {
        background-color: black;
      }
      
      a:visited {
        background-color: #ccc;
      }

body{
    background-image: url("tt.jpg");
    background-repeat: no-repeat;
    background-size:cover;
   
}
h1 {
    color:rgb(26, 142, 250);
    font-size: 50px;
    text-align: center;
    align-items: center;
}
h2{
    color:rgb(26, 142, 250);
    font-size: 50px;
    text-align: center;
    align-items: center;
}
p{
    color:rgb(223, 27, 223);
    font-size: 40px;
    text-align: center;
    align-items: center;
}

#tcolor{
    color: rgb(212, 81, 20);
}
img{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 4px;

    max-width: 100%;
    max-height: 100%;
    display: flex;
    margin: 0 auto;
}
